.data{
    display: none;
}

body {
    background-color: #d6bbd3 ;
}

.g-signin2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#updateForm, #newForm {
    display: none;
}